<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript">
    const details = '{{ details }}';
  </script>

  <script type="text/javascript" src="/_static/HTML_ASSETS/jquery.js"></script>
  <script type="text/javascript" src="/_static/HTML_ASSETS/node_modules/twitter-bootstrap/js/bootstrap-alert.js"></script>
  <script type="text/javascript" src="/_static/HTML_ASSETS/bootstrap-5.0.0-beta1-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/_static/HTML_ASSETS/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="/_static/js/default.js"></script>


  <link rel="stylesheet" href="/_static/HTML_ASSETS/fontawesome-free-5.15.1-web/css/all.css">
  <link rel="stylesheet" href="/_static/HTML_ASSETS/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="/_static/css/defaults.css">
  <link rel="stylesheet" href="/_static/css/nav-bar.css">
  <link rel="stylesheet" href="/_static/css/profile.css">

</head>
<body>

  <div class="nav">
    <a class="link" href="/"><span class="lt">HOME</span> <i class="fa fa-home"></i></a>
    <a class="link" href="/contact"><span class='lt'>CONTACT</span> <i class="fa fa-mail-bulk"></i></a>
    <a class="link" href="/profile"><span class="lt">PROFILE</span><i class="fa fa-user-check"></i></a>
    <a class="link" href="/auth/signout"><span class="lt">SIGNOUT</span><i class="fa fa-sign-in-alt"></i></a>
  </div>

  <div class="head">
    <h1>Your Profile<span> - SPRINGREEN</span></h1>
    <h5>Take a look at your account details! You will be able to edit your details after some time. The page is under development and will be available in the future.</h5>
  </div>

  <div class="form">


      <div class="detail">
        <label>Username</label>
        <input class="value" value="{{ details[1] }}" disabled/>
      </div>
    
      
      <div class="detail">
        <label>Email</label>
        <input class="value" value="{{ details[2] }}" disabled/>
      </div>
    
      
      <div class="detail">
        <label>Recovery Email</label>
        <input class="value" value="{{ details[3] }}" disabled/>
      </div>

      
      <div class="detail">
        <label>Password</label>
        <input class="value" value="{{ details[4] }}" disabled/>
      </div>


  </div>

</body>
</html>
