.nav
{
  position: fixed;
  right: 0;
  top: var(--top);

  width: var(--nav-width);
  height: var(--nav-height);

  padding: 12px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  color: var(--nav-fg);
  background: var(--nav-bg);
  box-shadow: 0px 0px 7px #fff2;

  z-index: 100;
}
.nav .link
{
  padding: 0;
  position: relative;
  
  width: 64px;
  height: 64px;

  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  text-decoration: none;
  font-size: var(--nav-fs);
  color: var(--nav-fg);
  background-color: var(--nav-bg);
  z-index: 100;
}
.link .lt
{
  height: 64px;
  min-width: 0px;
  width: 0px;
  font-size: calc(var(--nav-fs) * 0.7);
  transform: translateX(0px);
  
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;

  display: flex;
  align-items: center; 
  justify-content: space-around;

  background-color: var(--nav-bg);
  z-index: 2;
  overflow: hidden;
  transition: 0.3s;
}
.link i
{
  padding: 0;
  margin: 0;
  position: absolute;
  
  width: 64px;
  height: 64px;
  
  display: flex;
  align-items: center; 
  justify-content: space-around;
  z-index: 3;
  transform: scale(0.9);
  
  color: var(--nav-fg);
}
i::before , .fa::before
{
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
}

/* darkmode */
#mtt
{
  white-space: nowrap;
  text-align: center;
  font-size: calc(var(--nav-fs) * 0.6);
}
/* nav's hover */
.nav .link:hover .lt
{
  min-width: 150px;
  transform: translateX(-150px);
}
.nav .link:hover i
{
  transform: scale(1.1);
}