<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PYROGRAM - TUTORIAL</title>

  <link rel="stylesheet" href="/static/HTML_ASSETS/fontawesome-free-5.15.1-web/css/all.css">
  <link rel="stylesheet" href="/static/css/tutorial-base-template.css">

</head>
<body>
  
  <div class="table-of-content">
    <h1>CONTENTS</h1>
    <h3>SUB CONTENT 1</h3>
    <a class="link">Link 1</a>
    <a class="link">Link 2</a>
    <a class="link">Link 3</a>
    <h3>SUB CONTENT 2</h3>
    <a class="link">Link 4</a>
    <a class="link">Link 5</a>
    <a class="link">Link 6</a>
  </div>

  <div class="container">

    
    <div class="head">
      <img src="/static/favicon.ico"/>
      <h1>NAME</h1>
      <h5>Small discription</h5>
    </div>



    <div class="nav-container">
      <!-- auto edited by javascript -->
      <span id="page-nav-path"></span>
    </div>

    
    
    <div class="table-dropper"><i class="fa fa-bars"></i></div>
    

    <div class="text-container">
      <!-- the text here -->
    </div>

  </div>

  <script src="/static/js/tutorail-base-template.js"></script>
</body>
</html>