<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PYROGRAM - TUTORIAL</title>

  <link rel="stylesheet" href="/static/css/tutorial-base-template.css">

</head>
<body>
  
  <div class="table-of-content">
    <h1>CONTENTS</h1>
    <h3>INTRODUCTION</h3>
    <a class="link" href="#telegram">Telegram</a>
    <a class="link" href="#python">Python</a>
    <a class="link" href="#pyrogram-what-is-it">Pyrogram</a>
    <h3>Basic Setup</h3>
    <a href="#install-pyrogram" class="link">Installation - Pyrogram</a>
  </div>

  <div class="container">

    
    <div class="head">
      <img src="https://docs.pyrogram.org/_static/favicon.ico"/>
      <h1>Pyrogram</h1>
      <h5>A framework to create bots for telegram</h5>
    </div>



    <div class="nav-container">
      <span id="page-nav-path"></span>
    </div>

    
    
    <div class="table-dropper">
      <div style="--i:1;"></div>
      <div style="--i:0;"></div>
      <div style="--i:-1;"></div>
    </div>
    

    

    <div class="text-container">
      <h2 id="telegram"> <img src="https://telegram.org/img/website_icon.svg" width="20px"/> <a href="https://telegram.org">Telegram</a></h2>
      <p>Telegram is a freeware, cross-platform, cloud-based instant messaging (IM) software. The service also provides end-to-end encrypted video calling, VoIP, file sharing and several other features. It was launched for iOS on 14 August 2013 and Android in October 2013. The servers of Telegram are distributed worldwide to decrease data load with five data centers in different regions, while the operational center is based in Dubai in the United Arab Emirates. Various client apps are available for desktop and mobile platforms including official apps for Android, iOS, Windows, macOS and Linux (although registration requires a valid mobile number). There are also two official Telegram web twin apps – WebK and WebZ – and numerous unofficial clients that make use of Telegram's protocol. All of Telegram's official components are open source, with the exception of the server which is closed-sourced and proprietary.
        Telegram provides end-to-end encrypted voice and video calls and optional end-to-end encrypted "secret" chats. Cloud chats and groups are encrypted between the app and the server, so that ISPs and other third-parties on the network can't access data, but the Telegram server can. Users can send text and voice messages, animated stickers, make voice and video calls, and share an unlimited number of images, documents (2 GB per file), user locations, contacts, and audio files. In January 2021, Telegram surpassed 500 million monthly active users. It was the most downloaded app worldwide in January 2021.
        <br>
        <!-- "srcor" means "SouRCe Of Reference" -->
        <span class="srcor"><a href="https://wikipedia.org">- Wikipedia</a></span>
      </p>
      
      
      <hr />
      
      <h2 id="python"><img src="https://www.python.org/static/favicon.ico" width="20px"/> <a href="https://python.org">Python</a></h2>
      <p>
        Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly, procedural), object-oriented and functional programming. Python is often described as a "batteries included" language due to its comprehensive standard library.

Guido van Rossum began working on Python in the late 1980s, as a successor to the ABC programming language, and first released it in 1991 as Python 0.9.0 Python 2.0 was released in 2000 and introduced new features, such as list comprehensions and a garbage collection system using reference counting. Python 3.0 was released in 2008 and was a major revision of the language that is not completely backward-compatible and much Python 2 code does not run unmodified on Python 3. Python 2 was discontinued with version 2.7.18 in 2020.

Python consistently ranks as one of the most popular programming languages.
        
        <span class="srcor"><a href="https://wikipedia.org">- Wikipedia</a></span>
      </p>
      <hr />

      <h2 id="pyrogram-what-is-it"><img src="https://docs.pyrogram.org/_static/favicon.ico" width="20px"/> <a href="https://docs.pyrogram.org/">Pyrogram</a></h2>

      <p>
        Pyrogram is a modern, elegant and easy-to-use Telegram framework written from the ground up in Python and C. It enables you to easily create custom apps for both user and bot identities (bot API alternative) via the MTProto API.
        <span class="srcor"><a href="https://docs.pyrogram.org">- Pyrogram</a></span>
      </p>

      <hr />


      <h2 id="installation-pyrogram">Installing Pyrogram</h2>
      <p>
        We are going to use <a href="https://docs.python.org/3.9/">python 3.9</a> for this tutorial. This tutorial assumes that you have some basic knowledge of python. You should know how to use <a href="https://docs.python.org/3.9/tutorial/controlflow.html#defining-functions">functions</a> and you have a <a href="https://telegram.org">telegram</a> account.
        <br>
        You can use<br>
        <code>pip install pyrogram</code> <span class="specifier">On Windows</span>
      </p>

      

    </div>


  </div>

  <script src="/static/js/tutorail-base-template.js"></script>
</body>
</html>