<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text To Speech | SPRINGREEN</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/tts.css')">
</head>
<body>
  <div class="page">
    
    <div class="head">
      <h1>Convert Your Text Into Audio!</h1>
      <h3><a href="/">SPRINGREEN</a>'s text to speech</h3>
    </div>
    
    <form>
      <textarea id="text"></textarea>
      <button type="button" id="button">CONVERT</button>
    </form>
    
    <div class="audios"></div>
    
  </div>
  <script src="{{ url_for('static', filename='HTML_ASSETS/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tts.js') }}"></script>
</body>
</html>
